/*Selector{
	Property: value;
}*/

*{
	text-align: right;
}
body{
	background-image: url(background.jpg);
	background-size: cover;
}

h2{
	color: red;
}

p {
	color: #F291C8;
	text-align: center;
	border: 5px solid rgba(205, 38, 132,0.5) ;
	cursor: pointer;
}

p {
	text-decoration: underline;
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
} 

img{
	float: left;
}

footer {
	clear: both;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	color: #CD2684;


}

li{
	list-style: none;
	display: inline-block;
}

.webtext{
	border: 5px dashed green;
}

.active{
	color: red;
}

#div1 {
	background: rgba(0, 0, 255, 0.2);
}

#div2 {
	background: rgba(255, 0, 0, 0.2);
}