body{
    background-color: white;
}
.container{
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-gap: 10px;

}

.red{
    background-color: red;

}
.blue{
    background-color: blue;

}

.yellow{
    background-color: yellow;

}
.container-footer{
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr;
    margin-top:20px;
